---
import { getLangFromUrl } from "i18n/utils";
import { projects as es } from "../../../data/es.json";
import { projects as en } from "../../../data/en.json";
let projects = [];
import Card from "./Card";
const lang = getLangFromUrl(Astro.url);
if (lang === "es") {
  projects = es;
} else {
  projects = en;
}

---

<section id="projects" class="flex gap-10 overflow-x-auto no-scroll items-center">
  {
    projects.map((project: any) => (
      <Card client:only lang={lang} project={project} />
    ))
  }
</section>
