---
import { getLangFromUrl, useTranslations } from "i18n/utils";
import { FileIcon, GithubIcon, LinkedinIcon } from "lucide-react";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const icons = [
  {
    url: "https://github.com/Siluetaz",
    icon: GithubIcon,
  },
  {
    url: "https://www.linkedin.com/in/ismael-borquez-ba%C3%B1ados-7b57a114b/",
    icon: LinkedinIcon,
  },
  {
    url: "/files/cv.pdf",
    icon: FileIcon,
  },
];
---

<section
  id="about"
  class="flex flex-col justify-center gap-8 flex-wrap items-center text-center"
>
  <!-- <div class="flex flex-wrap gap-5 items-center justify-center">
    <div
      class="bg-gray-800 rounded border-gray-500 border flex flex-col items-center p-6 px-10 gap-5"
    >
      
      <div class="flex flex-col gap-3 items-center">
        <p>Ismael Borquez</p>
        <hr class="w-full border border-gray-500" />
        <p>Desarrollador Web</p>
      </div>
    </div>
  </div> -->
  <img src={"iconcircle.webp"} class="w-full max-w-[12rem]" />
  <h1 class="max-w-xl w-full text-4xl font-semibold">
    {t("home.title")}
    <span class="text-primary"> Ismael Borquez</span>
  </h1>
  <div class="w-full max-w-xl">
    <h2 class="font-semibold text-xl text-gray-400">Desarrollador web</h2>
    <hr class="w-full border border-gray-500 my-6" />
    <div>
      <div class="flex gap-10 justify-center">
        {
          icons.map(({ url, icon: Icon }) => (
            <a href={url} target='_blank' class='p-2 hover:bg-gray-700 rounded-md grid place-items-center transition-colors duration-200'>
              <Icon />
            </a>
          ))
        }
      </div>
    </div>
    <!-- <p class="">
      Trabajador, que se desenvuelve bien en equipo, con altas capacidades
      interpersonales y de organización, siempre a la espera de adquirir nuevas
      habilidades y de crecer profesionalmente, proactivo e independiente,
      siendo la responsabilidad mi valor más potente.
    </p> -->
  </div>
</section>
