---
import NavigationMenu from "./NavigationMenu";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
---

<header class='sticky top-0 z-[1]'>
  <nav class="bg-white dark:bg-background absolute top-0 inset-x-0 border-b-gray-500/10 border-b">
    <div
      class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
    >
      <a href="/" class="mr-6 lg:mr-28">
        <img src="/favicon.svg" class="h-10" alt="IB Logo" />
      </a>
      <NavigationMenu client:visible lang={lang} />
    </div>
  </nav>
</header>
