---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import Home from 'components/Home.astro';
import About from 'components/About.astro';
import Experience from 'components/Experience.astro';
import Contact from 'components/Contact.astro';
import Projects from 'components/projects/Projects.astro';
export const getStaticPaths = (() => {
	return [{ params: { lang: "es" } }, { params: { lang: "en" } }];
}) satisfies GetStaticPaths;
---

<Layout title="Ismael Borquez | Desarrollador">
	<main class='w-full snap-center snap-y snap-mandatory flex flex-col '>
		<About />
		<Projects />
		<!-- <Experience /> -->
		<!-- <Contact /> -->
	</main>
</Layout>
