---
import NavigationBar from "components/NavigationBar.astro";
import { getLangFromUrl } from "../i18n/utils";
import "@fontsource-variable/quicksand";
interface Props {
	title: string;
}
const lang = getLangFromUrl(Astro.url);
const { title } = Astro.props;
import toast, { Toaster } from "react-hot-toast";
---

<script is:inline>
const localTheme = localStorage.getItem("theme");
if (localTheme) {
	document.documentElement.classList.add("theme", "dark");
} else {
	document.documentElement.classList.remove("theme");
}
</script>

<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="dark:bg-background bg-white text-black dark:text-white scroll">
		<NavigationBar />
		<slot />
		<Toaster
			position="bottom-center"
			toastOptions={{
				style: {
					background: "#363636",
					color: "#fff",
				},
			}}
			client:only
		/>
	</body>

	<style is:global>

		:root {
			--primary: 109 173 213;
			--background: 255 255 255;
			--accent: 136, 58, 234;
			--accent-light: 224, 204, 250;
			--accent-dark: 49, 10, 101;
			--accent-gradient: linear-gradient(
				45deg,
				rgb(var(--accent)),
				rgb(var(--accent-light)) 30%,
				white 60%
			);
		}
		.dark {
			/* --primary: 156 246 246; */
			/* --primary: 73 111 114; */
			--background: 19 21 26;
			--primary: 97 148 152;
		}
		body {
			font-family: "Quicksand Variable", sans-serif;
		}
		section {
			padding: 4.5rem 1rem;
			min-height: 100vh;
		}
		.no-scroll::-webkit-scrollbar {
			display: none;
		}

		 .scroll::-webkit-scrollbar {
			@apply w-[13px];
		}
		 .scroll::-webkit-scrollbar-track {
			@apply bg-background;
		}
		 .scroll::-webkit-scrollbar-thumb {
			@apply bg-primary;
		}
		 .scroll::-webkit-scrollbar-thumb:hover {
			@apply bg-primary/70;
		}
	</style>
</html>
